<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Account</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('header.ejs') %>
    <!-- User Dashboard Section -->
    <section>
      <div class="UserDashboard">
        <h1>Welcome, <%= locals.user.name %>!</h1>
        <p>Your account details:</p>

        <!-- Account Information -->
        <div class="AccountDetails">
          <h2>Account Information</h2>
          <p><strong>Email:</strong> <%= user.email %></p>
          <p><strong>Plan:</strong> <%= user.plan %></p>
        </div>

        <!-- Plan Details and Upgrade Option -->
        <div class="PlanDetails">
          <h2>Current Plan: <%= user.plan %></h2>
          <p><%= user.planDescription %></p>
          <a class="btn" href="/ContactSales">Upgrade Plan</a>
        </div>
      </div>
    </section>

    <%- include('footer.ejs') %>
  </body>
</html>
