<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
  </head>
  <body>
    <%- include('header.ejs') %>

    <!-- Cart Summary at the top of the shop page -->
    <div class="shopping-cart-summary">
      <h2>Cart Summary</h2>
      <p>Total Items: <%= locals.totalQuantity %></p>
      <p>Total Price: £<%= cartTotal.toFixed(2) %></p>
      <form action="/Cart" method="GET" class="cart-form">
        <button type="submit" class="btn-cart">Go to Cart</button>
      </form>
    </div>

    <!-- Product Section -->
    <div>
      <h1 class="title-center">Select Your Products</h1>
    </div>

    <!-- Shop Container -->
    <div class="shop-container">
      <% const products = [ { id: 0, name: "TransactPro", price: 39, image:
      "/img/ProductPos_1.webp" }, { id: 1, name: "SwipeEase", price: 39, image:
      "/img/ProductCardReader_2.webp" }, { id: 2, name: "SelfServePro", price:
      39, image: "/img/ProductSelfService_3.webp" }, { id: 3, name:
      "SelfServePro", price: 39, image: "/img/ProductSelfService_3.webp" }, {
      id: 4, name: "SelfServePro5000", price: 39, image:
      "/img/ProductSelfService_3.webp" }, { id: 5, name: "SelfServePro", price:
      39, image: "/img/ProductSelfService_3.webp" } ]; %> <%
      products.forEach(product => { %>
      <div class="shop-item">
        <img src="<%= product.image %>" alt="<%= product.name %>" />
        <h2><%= product.name %></h2>
        <h3>£<%= product.price %></h3>
        <form action="/cart/add" method="POST" class="add-to-cart-form">
          <input type="hidden" name="id" value="<%= product.id %>" />
          <input type="hidden" name="name" value="<%= product.name %>" />
          <input type="hidden" name="price" value="<%= product.price %>" />
          <button type="submit" class="btn-add">Add to Cart</button>
        </form>
      </div>
      <% }) %>
    </div>

    <%- include('footer.ejs') %>
  </body>
</html>
